@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #000000;
    --color-foreground: #ffffff;
  }
}
